{% load static %}
<html lang="en-us" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verified</title>
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" class="css">
</head>
<body>
    <div class="wrapper">
        <div class="circle circle__one"></div>
        <div class="circle circle__two"></div>

        <div class="form">
            <h2 class="form__title">حساب شما تایید شد</h2>

            <p class="form__title">
                EMAIL VERIFIED.
            </p>
        </div>
    </div>
</body>
</html>
